/* Navbar */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.crop {
    margin-top: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.crop img {
    width: 100px;
    transform: translate(-35px, -65px);
}

.navbar h1 {
    font-size: 1.2rem;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}


@media(max-width: 600px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0,0,0,0.1);
    }
}